body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: black;
}

h1 {
    font-family: 'Amatic SC', cursive;
}

p {
    font-family: 'Permanent Marker', cursive;
}